div, textarea {
    border-radius: 60px;
    resize: none;
    display: block;
    width: 1242px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    height: 54px;
    background-color: rgb(0, 52, 110);
    padding-top: 30px;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

textarea {
    overflow: hidden;
}

#myUtilsSearch {
    width: 828px;
    display: inline;
}

#bingSearch {
    font-size: 20px;
}

#bingSearch:empty:before {
    content: "Browse Bing...";
    color: rgba(119, 119, 119, 0.731);
    font-size: 20px;
}

#myUtilsSearch:empty:before {
    content: "Browse websites, and Reyansh's Utilities...";
    color: rgba(119, 119, 119, 0.731);
    font-size: 20px;
}

#bingSearch:focus:after, #myUtilsSearch:focus:after {
    content: "";
}

main {
    display: flex;
    gap: 250px;
    flex-direction: column;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(0, 28, 64);
}

button {
    position: absolute;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 81px;
    height: 85px;
    border: none;
    background-color: rgb(0, 36, 81);
}

.enterBing {
    top: 61px;
    right: 85px;
}

.enterCustom {
    right: 305px;
    bottom: 399px;
}

textarea {
    visibility: hidden;
}

img {
    position: absolute;
}

.bingImg {
    width: 45px;
    top: 77px;
    right: 111.5px;
    z-index: 100;
}

.utilityImg {
    width: 60px;
    bottom: 401px;
    right: 328px;
    z-index: 101;
}

.SIXSEVENIMG {
    width: 500px;
    top: 500px;
    right: 505px;
    padding: 0;
}

html, body, main { 
    overflow: hidden;
}

.shake {
    animation: sixSevenGesture 0.6s;
}

button, img {
    transition: transform 0.5s ease;
}

.hover {
    transform: scale(1.15);
    cursor: pointer;
}

.hoverTiny {
    transform: scale(1.05);
    cursor: pointer;
}

@keyframes sixSevenShake {
      0%   { transform: translate(0,0) skewY(0deg); }
      20%  { transform: translate(-8px,0) skewY(-5deg); }
      40%  { transform: translate(8px,0) skewY(5deg); }
      60%  { transform: translate(-8px,0) skewY(-5deg); }
      80%  { transform: translate(8px,0) skewY(5deg); }
      100% { transform: translate(0,0) skewY(0deg); }
}

.skew-shake {
    animation: sixSevenShake;
    animation-duration: 1s;
    animation-iteration-count: 3;
}


.SIXSEVENIMG {
    transition: transform 0.5s ease;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1;
}

.microsoftBing {
    top: 200px;
    height: 150px;
    right: 280px;
    z-index: 100 !important;
}

.blob {
    width: 300px;
    opacity: 0.65;
    transition: transform 0.3s ease;
    z-index: 100;
}

.webBlob {
    right: 0px;
    bottom: 30px;
    transform: rotateZ(-5deg);
    width: 400px;
}

.toolBlob {
    bottom: 0px;
    height: 470px !important;
    width: auto;
    left: 40px;
    transform: rotateZ(45deg);
    height: 400px;
}

.microsoftBing:hover, .SIXSEVENIMG:hover {
    transform: scale(1.01, 1.01);
}

.webBlob:hover {
    transform: scale(1.1, 1.1) rotateZ(-5deg);
}

.toolBlob:hover {
    transform: scale(1.1, 1.1) rotateZ(45deg);
}