div, textarea {
    border-radius: 60px;
    resize: none;
    display: block;
    width: 1242px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    height: 54px;
    background-color: rgb(0, 52, 110);
    padding-top: 30px;
    font-size: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

textarea {
    overflow: hidden;
}

#bingSearch {
    font-size: 20px;
}

#bingSearch:empty:before {
    content: "Browse Bing...";
    color: rgba(119, 119, 119, 0.731);
    font-size: 20px;
}

#myUtilsSearch:empty:before {
    content: "Browse websites, and Reyansh's Utilities...";
    color: rgba(119, 119, 119, 0.731);
    font-size: 20px;
}

#bingSearch:focus:after, #myUtilsSearch:focus:after {
    content: "";
}

main {
    display: flex;
    gap: 250px;
    flex-direction: column;
    position: relative;
    height: 100vh;
    justify-content: center;
}

body {
    background-color: rgb(0, 28, 64);
}

button {
    position: absolute;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    width: 81px;
    height: 85px;
    border: none;
    background-color: rgb(0, 36, 81);
}

.enterBing {
    top: 61px;
    right: 85px;
}

.enterCustom {
    right: 85px;
    bottom: 399px;
}

textarea {
    visibility: hidden;
}

img {
    position: absolute;
}

.bingImg {
    width: 45px;
    top: 77px;
    right: 111.5px;
    z-index: 100;
}

.utilityImg {
    width: 60px;
    bottom: 401px;
    right: 108px;
    z-index: 101;
}

.SIXSEVENIMG {
    width: 500px;
    top: 450px;
    right: 505px;
}

@keyframes sixSevenGesture {
    25%{transform: rotateZ(40deg);}
}

html, body, main { 
    overflow: hidden;
}

.shake {
    animation: sixSevenGesture 0.6s;
}

button, img {
    transition: transform 0.5s ease;
}

.hover {
    transform: scale(1.15);
    cursor: pointer;
}

.hoverTiny {
    transform: scale(1.05);
    cursor: pointer;
}

@keyframes skewShake {
      0%   { transform: translate(0,0) skewY(0deg); }
      20%  { transform: translate(-8px,0) skewY(-5deg); }
      40%  { transform: translate(8px,0) skewY(5deg); }
      60%  { transform: translate(-8px,0) skewY(-5deg); }
      80%  { transform: translate(8px,0) skewY(5deg); }
      100% { transform: translate(0,0) skewY(0deg); }
}

.skew-shake {
    animation: skewShake;
    animation-duration: 1s;
    animation-iteration-count: 3;
}


.SIXSEVENIMG {
    transition: transform 0.5s ease;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1;
}
